$borderColor: rgb(167, 167, 167);
$bgColor1: rgb(242, 242, 243);
$bgColor2: rgb(213, 218, 223);
$boxShadow: 2px 2px 5px rgba(0, 0, 0, 0.137), 1px 1px 5px rgba(0, 0, 0, 0.137);
$hover: rgb(230, 230, 230)